*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}


html ,body{
    width: 100%;
    height: 100%;
}

#main{
    width: 100%;
    min-height: 100vh;
    background-color:#111;
}

#nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 2vw;
    position: relative;
    width: 100%;
    height: 10vh;
}

#nav a{
    display: flex;
    align-items: center;
    text-decoration: none;
    color: white;

}
#nav a i{
    margin-right: 8px;
}

#center{
    display: flex;
    align-items: center;
    gap: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
}
#center a{
    white-space: nowrap;
}

#center #logo{
    display: flex;
    align-items: center;

}

#center #logo .line{
    width: 130px;
    height: 2px;
    background-color: red;
}
#center #logo img{
    width: 120px;
    margin: 0 20px;
}

#hero{
    width: 100%;
    min-height: 90vh;
    display: flex;
}
#left{
    width: calc(100%/3);
    min-height: inherit;
    color: white;
    display: flex;
    flex-direction: column;
    align-items:flex-start;
    justify-content: center;
    padding: 0 3vw;
}

#left h1{
    font-size: 4vh;
    line-height: 1;
    margin-bottom: 1vw;
}
#left h1 span{
    font-weight: 300px;
    color: red;
}
#left p{
    width: 80%;
}
#left button{
    display: flex;
    align-items: center;
    font-weight: 600px;
    text-transform: capitalize;
    border: none;
    outline: none;
    border-radius: 100px;
    padding: 12px 22px;
    color: white;
    background-color: red;
}

#left button i{
    margin-right: 10px;
}

#left #btn{
    margin-top: 20px;
    display: flex;
    align-items: center;
}

#left #btn> i{
    color: red;
    margin-left: 20px;
}

#cent{
    width: calc(100%/3);
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: inherit;
}

#cent #tomb{
    position: relative;
    width: 70%;
    height: 70vh;
    border-top-left-radius: 500px;
    border-top-right-radius: 500px;
    background-size: cover;
    background-image: url(https://images.unsplash.com/photo-1594971475674-6a97f8fe8c2b?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1074&q=80);
    /* filter: blur(5px); */
    
}

#tomb #cap{
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 25px 0 5px;
    color: rgb(233, 145, 145);
    right: -25%;
    top: 30%;
    width: 55%;
    height: 3.2vw;
    background-color: rgb(23, 31, 29);
    border-radius: 100px;
}
#tomb #cap h6{
    color: rgb(205, 176, 231);
}

#tomb #photo{
    width: 2.5vw;
    height: 2.5vw;
    border-radius: 50%;
    overflow: hidden;
    background-image: url(https://images.unsplash.com/photo-1633118611826-b757eca2a7ab?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1964&q=80);
    background-size: cover;
    background-position: center;

}

#right{
    width: calc(100%/3);
    min-height: inherit;
}

#rbottom{
    width: 30%;
    padding: 0 5vw;
    bottom: 10vh;
    position: absolute;
    color: aliceblue;
}

#rbottom .row{
    color: #fff;
    display: flex;
    opacity: .5;
    align-items: center;
    justify-content: space-between;
    border-bottom: 2px solid #444;
    padding-bottom: 10px;
    margin-bottom: 10px;
}

#rbottom .row:nth-child(3){
    opacity: 1;
    border-bottom: initial;
}

#rbottom p{
    color: white;
    font-size: 12px;
    width: 80%;
}

#rbottom #scroll{
    margin-top: 40px;
    display: flex;
    align-items: center;
    gap: 10px;
    color: #666;
}

#rbottom #circle{
    width: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    color: #666;
    border-radius: 50%;
    border: 1px solid #666;
}

/* RESPONSIVE  */
@media(max-width:500px){

     #nav a{
        font-size: 13px;
     }

     #nav a i{
        margin-right: 10px;
     }

    #nav #center a{
        display: none;
    }

    #nav #center .line{
        width: 40px;

    }

    #center #logo img{
        width: 100px;
        margin: 0 10px;
        
    }

    #hero{
        flex-direction: column;
    }
    #hero #left{
        min-height: initial;
        width: 100%;
        padding: 10vw 3vw;
    }

    #left h1{
        font-size: 9vw;

    }
    #left p{
        margin-top: 20px;
    }

    #cent{
        width: 100%;
        min-height: 60vh;
    }

    #cent #tomb{
        width: 65%;
        min-height: 60vh;
    }

    #tomb #cap{
        right: -15%;
        top: 10%;
        width: 65%;
        height: 10.2vw;
    }
    #tomb #photo{
        width: 7vw;
        height: 7vw;
    }

    #right {
        width: 100%;
        margin-top: 20vw;
        min-height: initial;
        margin-bottom: 20px;
    }
    #rbottom{
        width: 100%;
        position: static;
        bottom: initial;
    }
    #text h5{
        font-size: 3vw;
    }
}